<body>
<% include ../../partials/sidebar %>
<!-- Main content -->
<div class="main-content" id="panel">
  <% include ../../partials/navbar %>
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Examples</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tag List</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header bg-transparent">
            <div class="row">
              <div class="col-8">
                <h3 class="mb-0">Tag List</h3>
              </div>
              <div class="col-4 text-right">
                  <a href="/tag-management/add" class="btn btn-sm btn-neutral">Add tag</a>
              </div>
            </div>  
          </div>
          <div class="table-responsive py-4">
            <table class="table table-flush" id="datatable-basic">
              <thead class="thead-light">
              <tr>
                <th>Name</th>
                <th>Color</th>
                <th>Created At</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tfoot>
              <tr>
                <th>Name</th>
                <th>Color</th>
                <th>Created At</th>
                <th>Actions</th>
              </tr>
              </tfoot>
              <tbody>
              <% locals.tagList.forEach(function(tag) { %>
                <tr>
                  <td><%= tag.name %></td>
                  <td><span style="display: inline-block; width:15px; height: 15px; background: <%= tag.color %>"></span></td>
                  <td><%= tag.created_at %></td>
                  <td>
                    <a href="/tag-management/<%=tag.id%>/edit" class="btn btn-primary btn-sm">EDIT</a>
                    <button type="button" class="btn btn-primary btn-sm delete-tag" data-tag="<%= tag.id %>">DELETE</button>
                  </td>
                </tr>
              <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <% include ../../partials/footer %>
  </div>
</div>
<!-- Include scripts -->
<% include ../../partials/scripts %>
<script>
    function addEvent(event, elem, func) {
      if (elem.addEventListener) // W3C DOM
        elem.addEventListener(event, func, false);
      else if (elem.attachEvent) { // IE DOM
        elem.attachEvent("on" + event, func);
      } else { // No much to do
        elem["on" + event] = func;
      }
    }

    function redirectTo() {
      if (this.status === 200) {
        return window.location = this.responseURL;
      }
    }
  
    function deleteTag(event) {
  
      var xhr = new XMLHttpRequest();
      var tagId = event.target.dataset.tag;
      xhr.addEventListener("load", redirectTo);
      xhr.open("POST", "tag-management/remove");
      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      xhr.send('id=' + tagId);
    }
  
    var deleteTagElements = document.querySelectorAll('.delete-tag');
    for (let index = 0; index < deleteTagElements.length; index++) {
      addEvent('click', deleteTagElements[index], deleteTag);
    }
  </script>
</body>