<body>
<% include ../../partials/sidebar %>
<!-- Main content -->
<div class="main-content" id="panel">
  <% include ../../partials/navbar %>
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Examples</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">User List</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header bg-transparent">
            <h3 class="mb-0">User List</h3>
          </div>
          <div class="table-responsive py-4">
            <table class="table table-flush" id="datatable-basic">
              <thead class="thead-light">
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tfoot>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Actions</th>
              </tr>
              </tfoot>
              <tbody>
              <% locals.userList.forEach(function(user) { %>
                <tr>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td><%= user.created_at %></td>
                  <td>
                    <a href="/user-management/<%=user.id%>/edit" class="btn btn-primary btn-sm">EDIT</a>
                    <button type="button" class="btn btn-primary btn-sm delete-user" data-user="<%= user.id %>">DELETE</button>
                  </td>
                </tr>
              <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <% include ../../partials/footer %>
  </div>
</div>
<!-- Include scripts -->
<% include ../../partials/scripts %>
<script>
  function addEvent(event, elem, func) {
    if (elem.addEventListener) // W3C DOM
      elem.addEventListener(event, func, false);
    else if (elem.attachEvent) { // IE DOM
      elem.attachEvent("on" + event, func);
    } else { // No much to do
      elem["on" + event] = func;
    }
  }

  function redirectTo() {
    if (this.status === 200) {
      return window.location = this.responseURL;
    }
  }

  function deleteUser(event) {
    var xhr = new XMLHttpRequest();
    var userId = event.target.dataset.user;
    xhr.addEventListener("load", redirectTo);
    xhr.open("POST", "user-management/remove");
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xhr.send('id=' + userId);
  }

  var deleteUserElements = document.querySelectorAll('.delete-user');
  for (let index = 0; index < deleteUserElements.length; index++) {
    addEvent('click', deleteUserElements[index], deleteUser);
  }
</script>
</body>